  <div class="container m-4 has-text-centered">
    <h2 class="has-background-grey-lighter">
      プロフィール編集
    </h2>
  </div>

<section class="section">
  <article class="media">
<%= form_with model: @user, url: users_user_path, method: :patch do |f| %>
    <figure class="media-left is-rounded">
      <p class="image is-128x128">
        <%= f.file_field :image, accept: "image/*",class:"is-rounded"%>
      </p>
    </figure>
    <div class="media-content">
      <table class="table table is-bordered">
        <thead>
          <tr>
          <th><abbr title="Position">名前</abbr></th>
          <th> <%= f.text_field :name %></th>
          </tr>
        </thead>
        <tfoot>
        <tr>
          <th><abbr title="Position">メールアドレス</abbr></th>
          <th><%= f.text_field :email %></th>
        </tr>
        <tr>
          <th><abbr title="Position">誕生日</abbr></th>
          <th><%= f.date_field  :birthday %></th>
        </tr>
        </tfoot>
      </table></br></br>
      <nav class="level">
        <div class="columns">
          <div>
            <%= f.submit "保存", class:"button is-link" %>
          </div>
        </div>
      </nav>
    </div>
    <% end %>
  </article>
</section>
