  <div class="container m-4 has-text-centered">
    <h2 class="has-background-grey-lighter">
      プロフィール
    </h2>
  </div>

<section class="section">
  <article class="media">
    <figure class="media-left is-rounded">
      <p class="image is-128x128">
        <%= image_tag 'ichigo',class:"is-rounded"%>
      </p>
    </figure>
    <div class="media-content">
      <table class="table table is-bordered">
        <thead>
          <tr>
          <th><abbr title="Position">名前</abbr></th>
          <th><%= @user.name %></th>
          </tr>
        </thead>
        <tfoot>
        <tr>
          <th><abbr title="Position">お誕生日</abbr></th>
          <th><%= @user.birthday %></th>
        </tr>
        <tr>
          <th><abbr title="Position">メールアドレス</abbr></th>
          <th><%= @user.email %></th>
        </tr>
        </tfoot>
      </table></br></br>
      <nav class="level">
        <div class="columns">
          <div>
            <%= link_to "マイメモ", users_my_memo_path(@user.id), class:"column box has-background-info-dark has-text-link-light m-4"%>
          </div>
          <div>
            <%= link_to "作成したレシピ", users_my_memo_path(@user.id), class:"column box has-background-info-dark has-text-link-light m-4"%>
          </div>
          <div>
            <%= link_to "編集する", users_my_memo_path(@user.id), class:"column box has-background-info-dark has-text-link-light m-4"%>
          </div>
        </div>
      </nav>
    </div>
  </article>
</section>
