  <div class="container m-4 has-text-centered">
    <h2 class="has-background-grey-lighter">
      プロフィール
    </h2>
  </div>

<section class="section has-background-danger-light">
  <article class="media">
    <figure class="media-left is-rounded">
      <p class="image is-128x128">
        <%= image_tag 'ichigo.jpg',class:"is-rounded"%>
      </p>
    </figure>
    <div class="media-content">
      <table class="table table is-bordered">
        <thead>
          <tr>
          <th><abbr title="Position">名前</abbr></th>
          <th><%= @user.name %></th>
          </tr>
        </thead>
        <tfoot>
        <tr>
          <th><abbr title="Position">メールアドレス</abbr></th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th><abbr title="Position">誕生日</abbr></th>
          <th><%= @user.birthday.present? ? I18n.l(@user.birthday,) : "登録されていません"%></th>
        </tr>
        </tfoot>
      </table></br></br>
      <nav class="level">
        <div class="columns">
          <div>
            <% if @user.mymemos.any? %>
            <%= link_to "マイメモ", users_mymemo_path(@user.mymemos.last.id), class:"column box has-background-info-dark has-text-link-light m-4"%>
            <% end %>
          </div>
          <div>
            <%= link_to "編集する", edit_users_user_path(@user.id), class:"column box has-background-info-dark has-text-link-light m-4"%>
          </div>
        </div>
      </nav>
    </div>

  </article>
</section>

<section>
  <% if @recipe.present? %>
  <div class="box m-4">
<div class="tile is-ancestor has-background-primary-light">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">

          <p class="title has-text-centered"><%= @recipe.recipe_name %></p>
          <figure class="image is-3by4">
            <%= image_tag @recipe.image %>
          </figure>

        </article>
      </div>

      <div class="tile is-8 is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">材料</p>
              <h4><%= @recipe.composition %></h4>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">情報 栄養</p>
              <p class="subtitle"><%= @recipe.nutrition %></p>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">作り方</p>
            <p class="subtitle"><%= @recipe.body %></p>
          </article>
        </div>
      </div>
    </div>

    <div class="m-4 has-text-centered"><%= link_to "削除", users_recipe_path(@recipe.id), method: :delete,class:"button is-danger","data-confirm"=>"本当に削除しますか？" %></div>
</div>
</div>
<% end %>
</section>