<div class="box">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

        <div class="container">
          <h1 class="title has-text-centered has-text-link">カロリー計算 </h1>
        </div></br>

       <table class="table table is-bordered">
         <thead class="has-background-primary-light">
            <tr>
              <th>材料名</th>
              <th>カロリー</th>
              <th>個数</th>
              <th>総カロリー</th>
              <th></th>
            </tr>
         </thead>

        <tfoot>
          <%num = 0 %>
          <%# @ingredients.each do |ingredient| %>
            <% @selected_ingredients.each do |selected_ingredient| %>
              <tr>

                <% if selected_ingredient[:amount].to_i > 0  %>
                  <th><%= Ingredient.find(selected_ingredient[:ingredient_id]).ingredient_name %></th>
                  <th><%= selected_ingredient[:calorie] %></th>
                  <th><%= selected_ingredient[:amount] %></th>
                  <% total =  (selected_ingredient[:calorie].to_i) * selected_ingredient[:amount].to_i%>
                  <th><%= total %></th>
                  <% num += total%>
                  <th><%= link_to "削除", users_my_memo_path(selected_ingredient[:ingredient_id]), method: :delete,class:"button is-danger","data-confirm"=>"本当に削除しますか？" %></th>
                <% end %>
              </tr>
            <% end %>

        <%# end %>
        </tfoot>
      </table>

      <div class="container">トタルカロリー　<%= @total %></div></br>

    <% if user_signed_in? %>
        <%= form_with model: @ingredient, url: users_my_memo_path(current_user.id), method: :get do |f| %>
        <%= f.submit "メモにしましょう", class: "button has-background-primary has-text-warning-light" %>
      <% end %>
    <% end %>

      </div>
    </div>
  </div>
</div>
