
<section class="hero is-small">

  <div class="hero-body">
    <p class="title has-text-centered has-text-link">
      ジャンル一覧・作成
    </p>
  </div>

<%= form_with model: @genre, url: admins_genres_path, method: :post do |f| %>

  <div class="field is-horizontal is-centered">
  <div class="column columns is-centered mb-2 ml-6">

  <div class="field-label">
    <label class="label has-text-info">ジャンル名 </label>

  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <%= f.text_field :genre_name %>
      </div>
    </div>
  </div>

  <div class="field-body">
    <div class="field is-narrow">
    <div class="control">
        <%= f.submit '新規登録', class: "button is-success" %>
    </div>
  </div>
  </div>

  </div>
  </div>

 <% end %>
<div class="column is-half is-offset-one-quarter">
<table class="table table is-bordered">
     <thead class="has-background-primary-light">
      <tr>
      <th>ジャンル</th>
      <th></th>
      <th></th>
      </tr>
      </thead>

      <tfoot>
      <% @genres.each do |genre| %>
      <tr>
      <th>
        <%# byebug %>
        <%= genre.genre_name %>
      </th>
      <th><%= link_to "編集", edit_admins_recipe_path(genre.id), class:"button has-text-warning-light has-background-info-dark"%></th>
      <th><%#= link_to "削除", admins_recipes_path, method: :delete,class:"button is-danger","data-confirm"=>"本当に削除しますか？" %></th>
      </tr>
      <% end %>
      </tfoot>
  </table>
</div>

</section>
