<div class="box">
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

      <div class="container">
        <h1 class="title has-text-centered has-text-link">マイメモ</h1>
      </div></br>

     <table class="table table is-bordered">
     <thead class="has-background-primary-light">
      <tr>
      <th>材料名</th>
      <th>カロリー</th>
      <th>数量</th>
      <th>総カロリー</th>
      <th></th>
      </tr>
      </thead>

      <tfoot>
      <% @ingredients.each do |ingredient| %>
      <tr>
      <th><%= ingredient.name %></th>
      <th><%= ingredient.calorie %></th>
      <th><%= ingredient.amount %></th>
      <th><%= (ingredient.calorie * ingredient.amount %></th>
      <th><%= link_to "削除", admins_recipe_path(@recipe), method: :delete,class:"button is-danger","data-confirm"=>"本当に削除しますか？" %></th>
      </tr>
      <% end %>
      </tfoot>
      </table>

      </div>
    </div>
  </div>
</div>
</div>