

<%= form_with  url: users_calorie_dentakus_path, method: :get do |f| %>
  <%= f.hidden_field "ingredients", id: "ingredient_data" %>
  <div class="container" >
    <div class="columns is-multiline">
      <% ingredients.each_with_index do |ingredient, index| %>
        <div class="column is-3">
          <div class="card notification is-info">
            <h2 class="has-text-centered"><%= ingredient.ingredient_name %></h2></br>
            <div class="card-image">
              <figure class="image is-4by3">
                <%= image_tag ingredient.image, size: "64x64" %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <h2>
                      <%= f.select "", (0..20).map {|n| [n, {hoge: "hoge"}]},{},{class: "amount", id: "#{ingredient.id}"} %>
                      <%#= f.hidden_field "ingredients[][calorie]", {value: ingredient.calorie}  %>
                      <%#= f.hidden_field "ingredients[][ingredient_id]", {value: ingredient.id}  %>
                  </h2>
                </div>
                <div class="media-content">
                  <div class="titzale"><%= ingredient.calorie %> kal</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div>
  
    <% if user_signed_in? %>
      <div class="container m-4 p-4 has-text-centered"><%= f.submit "カロリー計算" %></div>
    <% end %>
  </div>
<% end %>
<%= paginate @ingredients, remote: true %>