
<section class="section">
  <div class="container">
    <%= form_with  url: users_calorie_dentakus_path, method: :get do |f| %>

    <div class="columns is-multiline">
      <% @ingredients.each_with_index do |ingredient, index| %>

        <div class="column is-3">
          <div class="card notification is-info">
            <h2 class="has-text-centered"><%= ingredient.ingredient_name %></h2></br>
            <div class="card-image">
              <figure class="image is-4by3">
                <%= image_tag ingredient.image, size: "64x64" %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <h2>
                      <%= f.select "ingredients[][amount]", (0..20).map {|n| [n, {hoge: "hoge"}]},{},{class: "amount", id: "#{ingredient.id}"} %>
                      <%= f.hidden_field "ingredients[][ingredient_id]", {value: ingredient.id}  %>
                  </h2>
                </div>
                <div class="media-content">
                  <div class="titzale"><%= ingredient.calorie %> kal</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
    <div class="container m-4 p-4 has-text-centered"><%= f.submit "カロリー計算" %></div>

    <% end %>
</section>





      <script>

$('.amount').change(function() {


  var classname = $(this).attr("id")

   var amount =  $(`#${classname}`).val();
   var id = `#id-${classname}`;

   $(id).val(amount)


   // console.log(val); // 出力：ABC
    // 選択されている表示文字列を取り出す
   // var txt = $('[name=alphabet] option:selected').text();
   // console.log(txt); // 出力：えーびーしー
});
</script>