<div class="box">
<div class="tile is-ancestor">

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title has-text-centered"><%= @recipe.recipe_name %></p>
          <figure class="image is-4by3 m-4">
            <%= image_tag @recipe.image %>
          </figure>
          <nav class="has-text-centered">
            <%= link_to "編集", edit_admins_recipe_path(@recipe), class: "button is-warning" %>
          </nav>
        </article>
      </div>

      <div class="tile is-8 is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">材料</p>
              <p class="subtitle"><%= @recipe.composition %></p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">情報 栄養</p>
              <p class="subtitle"><%= @recipe.nutrition %></p>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">作り方</p>
            <p class="subtitle"><%= @recipe.body %></p>
          </article>
        </div>
      </div>
    </div>
</div>

</div>
</div>