<div class="box">
  <div class="tile is-ancestor">

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
              <p class="title has-text-centered"><%= @recipe.recipe_name %></p>
              <figure class="image is-3by4">
                <%= image_tag @recipe.image %>
              </figure>
            </article>
          </div>

          <div class="tile is-8 is-vertical">
            <div class="tile">

              <div class="tile is-parent  has-background-warning-light">
                <article class="tile is-child box">
                  <p class="title">材料</p>
                  <h4><%= @recipe.composition %></h4>
                </article>
              </div>

              <div class="tile is-parent has-background-warning-light">
                <article class="tile is-child box">
                  <p class="title">情報 栄養</p>
                  <p class="subtitle"><%= @recipe.nutrition %></p>
                </article>
              </div>
            </div>

            <div class="tile is-parent has-background-warning-light">
              <article class="tile is-child box">
                <p class="title">作り方</p>
                <p class="subtitle"><%= @recipe.body %></p>
              </article>
            </div>

            <div class="box has-background-warning-light">
              <article class="media">
                <div class="media-left">
                  <div>
                    <%= form_with model: [@recipe, @post_comment], url:  admins_post_comments_path do |f| %>
                      <%#= f.hidden_field :recipe_id, value: @recipe.id %>
                      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %></br>
                      <%= f.submit "送信する", class:"button is-primary" %>
                    <% end %>
                  </div>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong class="">コメント件数：</strong> <small><%= @recipe.post_comments.count %></small>
                      <br>
                       <% @recipe.post_comments.each do |post_comment| %>
                         <%= post_comment.user.name %>
                         <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                         <%= post_comment.comment %>
                         <% if post_comment.user == current_user %>
                          <%= link_to "削除", admins_destroy_post_comments_path(id: post_comment.recipe, post_comments_id: post_comment), method: :delete %>
                         <% end %>
                       <% end %>
                    </p>
                  </div>
                  <nav class="level is-mobile">
                            <!--「いいね機能」-->
                    <% if user_signed_in? && @recipe.favorited_by?(current_user) %>
                      <p>
                        <%= link_to users_destroy_favorites_path(@recipe.id), method: :delete do %>
                          ♥<%= @recipe.favorites.count %> いいね
                        <% end %>
                      </p>
                      <% else %>
                      <p>
                        <%= link_to users_favorites_path(@recipe), method: :post do %>
                          ♡<%= @recipe.favorites.count %> いいね
                        <% end %>
                      </p>
                    <% end %>
                  </nav>
                </div>
              </article>
            </div>

          </div>

          </div>

        </div>
    </div>

  </div>
</div>