<!DOCTYPE html>
<html>
  <head>
    <title>Pf2</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


      <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container p-4">
        <div class="columns header_nav">
          <div class="column is-4">
             <a class="navbar-brand" href="/"><%= image_tag 'logo.jpg', class: 'logo_img' %></a>
          </div>
          <div class="column columns is-vcentered">
            <div>
                <%= form_tag(search_users_recipes_path,:method => 'get') do %>
                <%= text_field_tag :search %>
                <%= submit_tag 'レシピ検索', :name => nil %>
                <% end %>
            </div>
          </div>
        </div>
        </div>
      </nav>
      </header>

    <nav class="navbar has-background-danger-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand has-text-centered is-5">
       <% if admin_signed_in? %>

          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%= link_to "レシピ一覧",new_admins_recipe_path, method: :get, class: "has-text-dark" %>
          </h1>
          </div>

          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%= link_to "材料一覧",new_admins_ingredient_path, method: :get, class: "has-text-dark" %>
          </h1>
          </div>
          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%= link_to "会員一覧",admins_users_path, method: :get, class: "has-text-dark" %>
          </h1>
          </div>
          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%#= link_to "作成履歴一覧",admins_recipe_path, method: :get, class: "has-text-dark" %>
          </h1>
          </div>
          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%= link_to "ジャンル一覧",new_admins_genre_path, method: :get, class: "has-text-dark" %>
          </h1>
          </div>
          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: "has-text-dark" %>
          </h1>
          </div>
       <% else %>
         <nav class="has-background-danger-light has-text-centered" role="navigation" aria-label="main navigation">
          <div class="container p-4">
          <div id="navbarBasicExample" class="navbar-menu">

          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%= link_to "レシピ一覧",admins_homes_top_path, method: :get, class: "has-text-dark" %>
          </h1>
          </div>

          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%= link_to "材料一覧",new_admins_ingredient_path, method: :get, class: "has-text-dark" %>
          </h1>
          </div>
          <div class="navbar-item">
          <h1 class="title is-5" style="font-family: cursive;">
            <%= link_to "ログイン", new_admin_session_path,  class: "has-text-dark" %>
            <% end %>
          </h1>
          </div>
          </div>
          </div>

          </div>
        </nav>

  </head>

  <body>

     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

    <%= yield %>
    <footer class="footer has-background-primary-dark">
      <div class="content has-text-centered has-text-light">
      <i class="fab fa-gratipay"></i>
        毎日ヘルシー
      </div>
    </footer>

  </body>

</html>
